<div class="commentApp-form">
    <div i="login" class="passport">
        <a href="<!--{iCMS:router url='user:login'}-->" title="Войти"><i class="fa fa-user"></i> Войти</a>
        <a href="<!--{iCMS:router url='user:register'}-->" target="_blank"><i class="fa fa-heart"></i> Регистрация</a>
    </div>
    <div i="profile" class="profile">
        <!--{include file="iCMS://user/profile.menu.htm"}-->
    </div>
    <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning "></i>Комментарии к материалам публикуются после предварительной модерации. Если они нарушают наши правила, комментарии будут удалены модераторами!
    </div>
    <div class="comment-editor">
        <textarea i="comment_content" class="form-control comment_content" placeholder="Напиши свой комментарий ..."></textarea>
    </div>
    <div class="clearfix"></div>
    <div class="comment-command" style="display:block;">
        <!--{if $iCMS.CONFIG.comment.seccode }-->
        <div class="comment-seccode">
            <label for="seccode" class="control-label">Защитный код:</label>
            <input type="text" maxlength="4" i="comment_seccode" class="seccode form-control" placeholder="Введите защитный код">
            <!--{iCMS:public:seccode}-->
        </div>
        <!--{/if}-->
        <input i="comment_param" type="hidden" data-param='<!--{$comment_vars.param|json_encode}-->' />
        <button i="comment_add" class="btn btn-small btn-success comment_add">
            <i class="fa fa-check"></i>Отправить
        </button>
        <a i="comment_cancel" href="javascript:;" class="comment_cancel">Отмена</a>
    </div>
    <div class="clearfix mb10"></div>
</div>
<script>
$(function() {
    var $form = $('.commentApp-form');
    
    iCMS.$('comment_add', $form).click(function(event) {
        event.preventDefault();
        iCMS.run('comment', function($COMMENT) {
            var $param = iCMS.$('comment_param').param();
            $COMMENT.options.list = $('.commentApp-list');
            $COMMENT.add($param,$form);
        });
    });
})
</script>
