<!DOCTYPE html>
<html>

<head>
    <title>
        <!--{$tag.name}-->
        <!--{if $tag.seotitle}-->_
        <!--{$tag.seotitle}-->
        <!--{/if}-->_
        <!--{$site.title}-->
    </title>
    <meta name="keywords" content="<!--{$tag.keywords}-->" />
    <meta name="description" content="<!--{$tag.description}-->" />
    <meta name="mobile-agent" content="format=xhtml;url=<!--{$tag.iurl.mobile.url}-->">
    <meta name="mobile-agent" content="format=html5;url=<!--{$tag.iurl.mobile.url}-->">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="<!--{$tag.iurl.mobile.url}-->">
    <!--{iCMS:public:ui}-->
</head>

<body class="tagApp" i="<!--{$iCMS.APP.NAME}-->">
    <!--{include file="./header.htm"}-->
    <div class="body clearfix ">
        <div class="body-wrap r5">
            <div class="main-col">
                <ul class="breadcrumb">
                    <li><a href="<!--{$site.url}-->">首页</a></li>
                    <!--{foreach value="catenav" from="$category.navArray"}-->
                    <li>
                        <a href='<!--{$catenav.url}-->'>
                            <!--{$catenav.name}-->
                        </a>
                        <!--{/foreach}-->
                        <li class="active">
                            <!--{$tag.link}-->专题</li>
                </ul>
                <div class="tabs-wrap">
                    <div class="tabs-head">
                        <div class="tag-wrap">
                            <h1><!--{$tag.name}--></h1>
                            <!--{if $tag.description}-->
                            <blockquote>
                                <!--{if $tag.subtitle}-->
                                <h2><!--{$tag.subtitle}--></h2>
                                <!--{/if}-->
                                <p>
                                    <!--{$tag.description}-->
                                </p>
                            </blockquote>
                            <!--{/if}-->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tabs-content">
                        <div class="tabs-pane" id="tabs_c0">
                            <div class="kwLink">
                                <b> Связанные теги:</b>
                                <!--{iCMS:tag:list loop="true" row="5" orderby="hot" cid="$category.cid"}-->
                                <a href="<!--{$tag_list.url}-->" target="_blank">
                                    <!--{$tag_list.name}-->
                                </a>
                                <!--{/iCMS}-->
                            </div>
                            <ul class="media-list">
                                <!--{iCMS:video:list loop="true" page="true" row="10" tids="$tag.id" field="$tag.field"}-->
                                <li class="media">
                                    <!--{if $video_list.pic.url}-->
                                    <a class="media-object" href="<!--{$video_list.url}-->">
                                                <img class="r5 lazy" data-src="<!--{$video_list.pic.url}-->" src="<!--{$site.urls.tpl}-->/static/img/loading.gif">
                                            </a>
                                    <!--{/if}-->
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                                <a href="<!--{$video_list.url}-->" target="_blank"><!--{$video_list.title}--></a>
                                                </h4>
                                        <p class="media-text">
                                            <!--{$video_list.description|cut:110:'...'}-->
                                            <a href="<!--{$video_list.url}-->" target="_blank" class="blue">[Подробнее]</a>
                                        </p>
                                        <div class="media-info">
                                            <span class="date"><!--{$video_list.pubdate|date:'Y-m-d H:i'}--></span>
                                            <span class="category">分类:<!--{$video_list.category.link}--></span>
                                            <!--{if $video_list.tags_link}-->
                                            <span class="tags"><!--{$video_list.tags_link}--></span>
                                            <!--{/if}-->
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <!--{/iCMS}-->
                            </ul>
                            <div class="pagination">
                                <!--{$iCMS.PAGES|method:'show(3)'}-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-col">
                <div class="mod-box rank">
                    <div class="mod-title">
                        <ul>
                            <li class="active"><a href="javascript:void(0);" data-target="#rank-week" data-toggle="tab">周点击榜</a></li>
                            <li><a href="javascript:void(0);" data-target="#rank-momth" data-toggle="tab">周热评榜</a></li>
                        </ul>
                    </div>
                    <div class="mod-content">
                        <ul class="rank-list" id="rank-week">
                            <!--{iCMS:video:list loop="true" row="10" sub="all" orderby="week" cid="$category.cid"}-->
                            <li>
                                <em class="no<!--{$video_list.rownum}-->"><!--{$video_list.rownum}--></em>
                                <a href="<!--{$video_list.url}-->" target="_blank">
                                    <!--{$video_list.title}-->
                                </a>
                            </li>
                            <!--{/iCMS}-->
                        </ul>
                        <ul class="rank-list hide" id="rank-momth">
                            <!--{iCMS:video:list loop="true" row="10" sub="all" orderby="comment" startdate="-7 day" cid="$category.cid"}-->
                            <li>
                                <em class="no<!--{$video_list.rownum}-->"><!--{$video_list.rownum}--></em>
                                <a href="<!--{$video_list.url}-->" target="_blank">
                                    <!--{$video_list.title}-->
                                </a>
                            </li>
                            <!--{/iCMS}-->
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="mod-box hot-tags">
                    <div class="mod-title">
                        <h3 class="mod-txt">标签云</h3>
                    </div>
                    <div class="mod-content">
                        <ul>
                            <!--{iCMS:tag:list loop="true" row="15" sub="all" orderby="hot" cid="$category.cid"}-->
                            <li>
                                <a href="<!--{$tag_list.url}-->" target="_blank" class="btn">
                                    <!--{$tag_list.name}-->
                                </a>
                            </li>
                            <!--{/iCMS}-->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="mod-box pictxt">
                    <div class="mod-title">
                        <h3 class="mod-txt">图文推荐</h3>
                    </div>
                    <div class="mod-content">
                        <!--{iCMS:video:list loop="true" pic="true" sub="all" row="8" cid="$category.cid"}-->
                        <div class="pictxt-list <!--{cycle values='fl,fr'}-->">
                            <a href="<!--{$video_list.url}-->" target="_blank">
                                <span class="pictxt-img">
                                            <img src="<!--{$video_list.pic.url}-->" alt="<!--{$video_list.title}-->">
                                        </span>
                                <p class="pictxt-text">
                                    <!--{$video_list.title}-->
                                </p>
                            </a>
                        </div>
                        <!--{/iCMS}-->
                    </div>
                </div>
            </div>
            <div class="clearfix mb10"></div>
        </div>
        <div class="clearfix mb20"></div>
    </div>
    <!--{include file="./footer.htm"}-->
</body>

</html>
