<div class="footer clearfix">
    <div class="footer-wrap">
        <p>
            <a href="<!--{$site.url}-->"><!--{$site.name}--></a>
            <!--{$site.description}-->
        </p>
        <p>Copyright &copy; 2019 <a href="<!--{$site.url}-->" target="_blank"><!--{$site.name}--></a>.
        	All rights reserved. Powered by iCMS <!--{$iCMS.CONST.iCMS_VERSION}-->
        </p>
    </div>
</div>
<div class="hide">
<!--{$site.code|htmlspecialchars_decode}-->
</div>
<!--{include file="iCMS://public.dialog.htm"}-->
<!--{iCMS:public:crontab}-->