<!DOCTYPE html>
<html>

<head>
    <title>
        <!--{if $category.title}-->
        <!--{$category.title}-->
        <!--{$site.title}-->
        <!--{$category.name}-->
        <!--{else}-->
        <!--{$category.name}-->_
        <!--{$site.title}-->_
        <!--{$site.seotitle}-->
        <!--{/if}-->
    </title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->" />
    <meta name="mobile-agent" content="format=xhtml;url=<!--{$category.iurl.mobile.url}-->">
    <meta name="mobile-agent" content="format=html5;url=<!--{$category.iurl.mobile.url}-->">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="<!--{$category.iurl.mobile.url}-->">
    <!--{iCMS:public:ui}-->
    <!--{iCMS:user:cookie}-->
</head>

<body class="askAppCategory" i="<!--{$iCMS.APP.NAME}-->">
    <!--{include file="./header.htm"}-->
    <div class="body clearfix ">
        <div class="body-wrap r5">
            <h2 class="ask-top"><!--{$category.name}--></h2>
            <h3 class="ask-description"><!--{$category.description}--></h3>
        </div>
        <div class="body-wrap r5">
            <div class="side-col">
                <div class="askBtn">
                    <button type="button" class="btn btn-primary btn-lg" i="ask_add_question">提问</button>
                </div>
                <div class="clearfix mt10"></div>
                <div class="mod-box">
                    <div class="mod-content">
                        <ul>
                            <!--{iCMS:category:list loop="true" row="15" stype="sub" cid="$category.rootid|default:$category.cid"}-->
                            <li class="askApp-category-item">
                                <span class="badge badge-<!--{cycle values="blue,green,purple"}-->">&nbsp;</span>
                                <a href="<!--{$category_list.url}-->" target="_blank">
                                    <!--{$category_list.name}-->
                                </a>
                            </li>
                            <!--{/iCMS}-->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="main-col">
                <div class="tabs-wrap">
                    <div class="tabs-head">
                        <p class="tabs-title">
                            <a href="<!--{$category.url}-->" data-target="#tabs_c0" data-toggle="tab">
                                <!--{$category.name}-->
                            </a>
                        </p>
                        <!--{iCMS:category:list stype='sub' row="8" cid="$category.cid"}-->
                        <ul class="tabs-nav">
                            <!--{foreach key="catkey" value="catlist" from="$category_list"}-->
                            <li>
                                <a href="<!--{$catlist.url}-->" target="_blank" data-target="#tabs_c<!--{$catlist.cid}-->" data-toggle="tab">
                                    <!--{$catlist.name}-->
                                </a>
                            </li>
                            <!--{/foreach}-->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tabs-content">
                        <div class="tabs-pane" id="tabs_c0">
                            <div class="kwLink">
                                <b> Связанные теги:</b>
                                <!--{iCMS:tag:list loop="true" row="20" orderby="hot" sub="all" cid="$category.cid"}-->
                                <a href="<!--{$tag_list.url}-->" target="_blank">
                                    <!--{$tag_list.name}-->
                                </a>
                                <!--{/iCMS}-->
                            </div>
                            <div class="question-list">
                                <!--{iCMS:ask:list loop="true" page="true" tags="true" sub="all" row="12" cid="$category.cid"}-->
                                <!--{include file="/askApp/widget/question.item.htm"}-->
                                <!--{/iCMS}-->
                            </div>
                            <div class="pagination">
                                <!--{$iCMS.PAGE.NAV}-->
                            </div>
                        </div>
                        <!--{foreach value="catlist" from="$category_list"}-->
                        <div class="tabs-pane hide" id="tabs_c<!--{$catlist.cid}-->">
                            <div class="kwLink">
                                <b> Связанные теги:</b>
                                <!--{iCMS:tag:list loop="true" row="20" orderby="hot" cid="$catlist.cid"}-->
                                <a href="<!--{$tag_list.url}-->" target="_blank">
                                    <!--{$tag_list.name}-->
                                </a>
                                <!--{/iCMS}-->
                            </div>
                            <div class="question-list">
                                <!--{iCMS:ask:list loop="true" tags="true" sub="all" row="12" cid="$catlist.cid"}-->
                                <!--{include file="/askApp/widget/question.item.htm"}-->
                                <!--{/iCMS}-->
                            </div>
                        </div>
                        <!--{/foreach}-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix mb10"></div>
        </div>
        <div class="clearfix mb20"></div>
    </div>
    <!--{include file="./footer.htm"}-->
    <!--{iCMS:ask:ui}-->
</body>

</html>
