<link rel="stylesheet" href="<!--{$site.urls.template}-->/askApp/static/ask.css" type="text/css" />
<script type="text/javascript" src="<!--{$site.urls.template}-->/askApp/static/ask.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="<!--{$site.urls.template}-->/askApp/static/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="<!--{$site.urls.template}-->/askApp/static/bootstrap-select.min.js"></script>
<script type="text/javascript" src="<!--{$site.urls.template}-->/askApp/static/bootstrap-select.zh_CN.min.js"></script>
<link rel="stylesheet" href="<!--{$site.urls.template}-->/askApp/static/simplemde.min.css" type="text/css" />
<script type="text/javascript" src="<!--{$site.urls.template}-->/askApp/static/simplemde.min.js"></script>
<!--{include file="/askApp/widget/dialog.htm"}-->
