<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>
        <!--{$content.title}-->
        <!--{$category.name}-->
        <!--{$site.title}-->
        <!--{$site.seotitle}-->
        </title>
        <meta name="keywords" content="<!--{$content.keywords}-->" />
        <meta name="description" content="<!--{$content.description}-->" />
        <link rel="canonical" href="<!--{$content.url|replace:$site.urls.mobile:$site.url}-->">
        <!--{iCMS:public:ui}-->
<script type="text/javascript">
var categoryId = '<!--{$category.cid}-->';
function showBodyUI (markup) {
    //Рекламный блок
}
$(function(){
    $(".content img").each(function(i){
        imgFix(this, 300);
        $(this).fadeIn();
    });
})
</script>
    </head>
    <body class="articleApp" i="<!--{$iCMS.APP.NAME}-->">
        <!--{include file="./header.htm"}-->
        <div class="body">
            <div class="wrapper clearfix mt5">
                <article>
                    <header class="article-header">
                        <h1 class="article-title">
                        <!--{$content.title}-->
                        </h1>
                        <div class="article-meta">
                            <time>
                            <i class="iconfont icon-time"></i>
                            <!--{$content.pubdate|date:"Y-m-d H:s"}-->
                            </time>
                            <span class="item">
                                <i class="iconfont icon-list"></i>
                                <a href="<!--{$category.url}-->" target="_blank">
                                    <!--{$category.name}-->
                                </a>
                            </span>
                            <span class="item">
                                <i class="iconfont icon-user"></i>
                                <!--{$content.user.at}-->
                            </span>
                        </div>
                    </header>
                    <div class="article_body">
                        <div class="content">
                            Пример вызова контента (print_r)
                            <pre>
                                <!--{$content|print_r}-->
                            </pre>

                        </div>
                    </div>
                </article>
                <div class="article-like" data-param='<!--{$content.param|json_encode}-->'>
                    <a i="vote:<!--{$APP.app}-->:good" class="like-btn">
                        <i class="like-icon up"></i>
                        <span i="vote_good_num" class="like-num"><!--{$content.good}--></span>
                        <span class="like-txt">Нравиться</span>
                    </a>
                    <a i="vote:<!--{$APP.app}-->:bad" class="like-btn">
                        <i class="like-icon down"></i>
                        <span i="vote_bad_num" class="like-num"><!--{$content.bad}--></span>
                        <span class="like-txt">Не понравилось</span>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="article-prevnext mt10">
                    <p class="prev"><b>Назад:</b>
                        <!--{iCMS:content:prev cid="$content.cid" id="$content.id"}-->
                        <a href="<!--{$content_prev.url}-->" class="prev" target="_self">
                            <!--{$content_prev.title}-->
                        </a>
                    </p>
                    <p class="next">
                        <!--{iCMS:content:next cid="$content.cid" id="$content.id"}-->
                        <a href="<!--{$content_next.url}-->" class="next" target="_self">
                            <!--{$content_next.title}-->
                        </a><b>:Вперед</b></p>
                </div>
                
            </div>
            <div class="clearfix mt10"> </div>
            <section class="bg-white comment">
                <div class="u-ttl">
                    <h2><i class="icon-comments"></i> Лучшие комментарии</h2>
                </div>
                <div class="mod-content">
                    <div id="comment-list">
                        <!--{iCMS:comment:list display="default"}-->
                    </div>
                    <div class="clearfix"></div>
                    <div id="comment-form">
                        <!--{iCMS:comment:form display="default"}-->
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <div class="clearfix mt10"></div>
            <section class="bg-white">
                <div class="u-ttl">
                    <h2><i class="iconfont icon-news"></i> 最新<!--{$category.name}--></h2>
                </div>
                <ul class="list-wrap">
                    <!--{iCMS:content:list loop="true" row="5" cid="$category.cid"}-->
                    <!--{include file="./content.item.htm" import="true"}-->
                    <!--{/iCMS}-->
                </ul>
            </section>
            <div class="clearfix mt10"> </div>

            <section class="bg-white">
                <div class="u-ttl">
                    <h2><i class="iconfont icon-ranking"></i> <!--{$category.name}-->排行榜</h2>
                </div>
                <ul class="list-wrap">
                    <!--{iCMS:content:list loop="true" row="5" orderby="week" cid="$category.cid"}-->
                    <!--{include file="./content.item.htm" import="true"}-->
                    <!--{/iCMS}-->
                </ul>
            </section>
        </div>
        <div class="clearfix mt10"> </div>
        <!--{include file="./footer.htm"}-->
        <script src="<!--{$content.hits.script}-->"></script>
    </body>
</html>
